flows_raspberrypi3.json
[{"id":"80d9c1d7.23ac6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"823e053f.4aec58","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"31937c34.4fb814","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"539331fa.7d172","type":"ui_tab","z":"","name":"Raspberry Pi","icon":"fa-volume-up"},{"id":"3ce23988.cb5cb6","type":"ui_group","z":"","name":"Sound control","tab":"539331fa.7d172","disp":true,"width":"6","collapse":false},{"id":"82a36ee5.f698c","type":"mqtt in","z":"80d9c1d7.23ac6","name":"mqtt-play-sound-input","topic":"play-sound","qos":"2","broker":"823e053f.4aec58","x":120,"y":140,"wires":[["49983067.f94de"]]},{"id":"492a532f.a9269c","type":"function","z":"80d9c1d7.23ac6","name":"Play sound","func":"var player = global.get('playSoundModule')(opts = {player: 'omxplayer'});\nvar sound = msg.payload;\nvar soundPath = sound.remoteSoundPath;\nvar volume = sound.volume;\nvar mDbVolume = 2000 * (Math.log10(volume/100.0));\n\nvar playerOptions = ['--vol', mDbVolume]\nif(sound.loop){\n    playerOptions.push('--loop');\n}\n \nvar audioProcess = player.play(soundPath, {omxplayer: playerOptions, detached: true}, function(err){\n    if (err && !err.killed) {\n        // Remove the sound object in the flow\n        var sounds = flow.get('runningSounds') || [];\n        for(var i = sounds.length-1; i >= 0; i--){\n            var s = sounds[i];\n            if ( s.soundPath === soundPath) {\n                sounds.splice(i, 1);\n            }\n        }\n        throw err;\n    }\n    msg.payload = JSON.stringify(msg.payload);\n    node.send(msg);\n});\n\nvar sound = {\n    audioProcess: audioProcess,\n    soundPath: soundPath\n};\n\nvar sounds = flow.get('runningSounds') || [];\nsounds.push(sound);\nflow.set('runningSounds', sounds);\n","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["1ab1ad79.3c1b83"]],"icon":"node-red-contrib-play-sound/unmute.png"},{"id":"1ab1ad79.3c1b83","type":"mqtt out","z":"80d9c1d7.23ac6","name":"mqtt-sound-finished-output","topic":"sound-finished","qos":"2","retain":"false","broker":"823e053f.4aec58","x":780,"y":140,"wires":[]},{"id":"cf61bacb.4e6768","type":"mqtt in","z":"80d9c1d7.23ac6","name":"mqtt-stop-sound-input","topic":"stop-sound","qos":"2","broker":"823e053f.4aec58","x":120,"y":240,"wires":[["3e6bdf58.30174"]]},{"id":"23cd12b5.be439e","type":"function","z":"80d9c1d7.23ac6","name":"Stop sound","func":"\nvar soundPath = msg.payload.remoteSoundPath;\n\nvar sounds = flow.get('runningSounds');\nif(!sounds){\n    node.warn('No sound instance running');\n    return {payload:'No sound instance running'};\n}\n\nfor(var i = sounds.length-1; i >= 0; i--){\n    var s = sounds[i];\n    if ( s.soundPath === soundPath) {\n        sounds.splice(i, 1);\n        var msg = {payload: -s.audioProcess.pid};\n        return msg;\n    }\n}\n\nflow.set('runningSounds', sounds);\n","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["e1213a58.704ef8"]],"icon":"node-red-contrib-play-sound/unmute.png"},{"id":"e1213a58.704ef8","type":"exec","z":"80d9c1d7.23ac6","command":"kill -TERM","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"kill PID","x":700,"y":240,"wires":[[],[],[]]},{"id":"49983067.f94de","type":"json","z":"80d9c1d7.23ac6","name":"","property":"payload","action":"","pretty":false,"x":330,"y":140,"wires":[["492a532f.a9269c"]]},{"id":"3e6bdf58.30174","type":"json","z":"80d9c1d7.23ac6","name":"","property":"payload","action":"","pretty":false,"x":310,"y":240,"wires":[["23cd12b5.be439e"]]},{"id":"d9f9a72b.dc13d8","type":"exec","z":"80d9c1d7.23ac6","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute cmd","x":710,"y":320,"wires":[[],[],[]]},{"id":"685ad6ac.6045f8","type":"function","z":"80d9c1d7.23ac6","name":"Create change volume cmd ","func":"\nvar volume = ''+ msg.payload / 100;\n\n\nvar cmd = '';\n\ncmd += 'export DBUS_SESSION_BUS_ADDRESS=$(cat /tmp/omxplayerdbus.${USER:-root}) && ';\ncmd += 'dbus-send --print-reply --session --reply-timeout=500 --dest=org.mpris.MediaPlayer2.omxplayer /org/mpris/MediaPlayer2 org.freedesktop.DBus.Properties.Set string:\"org.mpris.MediaPlayer2.Player\" string:\"Volume\" double:' + volume ;\n\nmsg.payload = cmd;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":320,"wires":[["d9f9a72b.dc13d8"]]},{"id":"1aa270dd.a8a34f","type":"mqtt in","z":"80d9c1d7.23ac6","name":"","topic":"change-volume","qos":"2","broker":"823e053f.4aec58","x":100,"y":320,"wires":[["685ad6ac.6045f8"]]}]